body {
  background-image:url("fondecran.jpg")
}

table {
  border: 8px solid black;
  background-image:url("fondcv.jpeg");
  text-align:"center";
  margin:auto;
}

h1 {
  font-family:monospace;
  font-weight:bold;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}

.photojim {
  background-image:url("photojim.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  width:150px;
  height:150px;
  border: 4px solid black;
}

.cv {
color:#FFFFFF;
text-align:"center";
text-decoration:underline;
}
