body
{
  background-image:url("feda838193f60d12d03949c49bf7175e_large.jpeg");
  background-attachment: fixed;
  background-size:1366px;
  height:768px;
  background-repeat: no-repeat;
}

.tabjim
{
  color:black;
  text-decoration:underline;
  text-align: center;
  font-weight: bold;
}

h1
{
  font-family:monospace;
  text-decoration: underline;
  color: black;
  text-align: center;
}

.jourdematch {
  text-align: left;
  color:black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-weight: bold;
}

.match
{
  margin-top:10px;
  margin-bottom:2em;
  margin-left:0;
}

.general
{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background:rgba(254, 254, 254, 0.4);
  border:3px solid black;
  float:left;
}

.bandeau
{
  float: right;
}

.bandeau li
{
  display:inline;
  font-size: 40px;
  margin-right: 100px;
  float: none;
  font-weight: bolder;
  font-family: comic;
}

.bandeau a
{
font-style: oblique;
background-image: url("boutonnoir.png");
color:blue;
border:6px solid rgba(254, 254, 254, 0.4);
}
