body {
  background-image:url("fondblanc.png");
}
.logo
{
  position: relative;left:65px;
  font-weight: bold;
  color:#000080;
  position: relative;top:20px;
}
.bandeau
{
  display: inline-block;
  float:right;
}

.bandeau li
{
  display:inline;
  font-size: 15px;
  margin-right: 100px;
  font-family: comic;
  margin-right: 70px;
}

.bandeau a
{
  color:grey;
  text-decoration: none;
}

.bandeau a:hover
{
  color:green;
}

.bandeau a:active
{
  color:black;
}

.bandeau a:visited
{
}

.bandeauimg
{
  background-image: url("hand.jpg");
  color:black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 450px;
  background-position: center;
  position: relative;top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.boutonaide
{
  position: relative;top: 125px;
  text-align: center;
}

.boutonaide a
{
  border: 3px solid black;
  color:black;
  text-decoration: none;
  background-image: url("boutongris.jpg");
  background-size: cover;
}

#texte {
  position:relative;top: 150px;
  text-align: center;
  font-weight: bold;
}

#catego
{
  position: relative;top: 215px;
  text-align: center;
}

#catego2
{
  position: relative;top: 125px;
  text-align: right;
  position: relative;right: 50px;
}

#catego3
{
  position: relative;top:25px;
  position: relative;left: 50px;
  text-align:left;
}

.tableau
{
  border: 1px solid black;
  width: 200px;
  position: relative;top: 50px;
  background-color:white;
}

.image {
  background-size:
}

.feature {
  border:2px solid black;
  width: 60px;
  background-color: black;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}
